/*Class Rules*/

.logo {
	width: 15%;
	margin-top: 1%;
	margin-left: 3%;
	
}

.rightNav {
	float: right;
	margin-top: 8%;
	margin-right: 3%;
	margin-left: 1%;

}

.active {
	border-top: 4px solid #f26419;
}

.greeting {
	text-align: center;
	width: 80%;
	margin: auto;
}

.profilePic {
	width: 70%;
	height: auto;
	margin: auto;
	display: block;
}

.content {
	max-width: 70%;
	margin: auto;
}

.cta {
	width: 60%;
	margin: auto;
	text-align: center;
	display: block;
}

.emailButton {
	/*border-bottom: 1px solid #f26419;*/
}

.emph {
	font-weight: bold;
	font-style: italic;
}

.skills {
	color: #f26419;
	font-weight: bolder;
}

.title {
	text-align: center;
}

.sample {
	border-bottom: 1px solid #36605a;
	padding-bottom: 5%;
	margin-bottom: 5%;
	width: 100%;
}

.playGallery {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item {
	text-align: center;
	width: 30%;
}

.itemPic {
	width: 80%;
	height: auto;
}

.itemText {
	text-align: justify;
}

/*Hover Over Rules*/

nav a:hover {
	border-top: 4px solid #f26419;
}

.emailButton:hover {
	border-bottom: 2px solid #f26419;
}

/*Responsive Changes*/

@media only screen and (max-width: 800px) {

  .logo {
	width: 22%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav.rightNav {
	float: none;
	text-align: center;
	margin-top: 0px;
}

.greeting{
	display: block;
	margin-top: 2%;
  }

.profilePic {
	width: 90%;
	height: auto;
	margin: auto;
	display: block;
}

.playGallery {
	display: flex;
	flex-direction: column;
}

.item {
	width: 100%;
}

.itemText {
	text-align: center;
}

}

/*Element Rules*/

header {
	background-color: #dadad9;
}

body {
	background-color: #dadad9;
}

footer {
	background-color: #dadad9;
}

i {
	font-size: 1.1em;
}

a {
  text-decoration: none;
  color: #f26419;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 20px;
  padding: 5px 5px;
  display: inline;
  margin: 10px;
}

h1 {
	font-family: 'Bitter', serif;
	font-weight: 700;
	font-size: 2em;
	color: #36605a;
}


h2 {
	font-family: 'Bitter', serif;
	font-weight: 500;
	font-size: 1.5em;
	color: #f26419;
}

h3 {
	font-family: 'Bitter', serif;
	font-weight: 500;
	font-size: 1.5em;
	color: #36605a;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.25em;
	color: #f26419;
}

h5 {
	font-family: 'Bitter', serif;
	font-weight: 500;
	font-size: 1.5em;
	color:#062a2b;
}

h6 {
	font-family: 'Open Sans', serif;
	font-size: 1em;
	color: #dadad9;
}
p {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	color: #181c20;
}

footer {
	margin-top: 15px;
	background-color: #062a2b;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

iframe {
	width: 100%;
	height: 30em;
	margin: auto;
	display: block;
	border: none;
}